<ion-view view-title="Account">
	<ion-content overflow-scroll="false" padding="true">
    <!--h5></h5-->
	<!-- <div>{{relationship}}</div> -->
		<div>Under the Account menu you may choose login, feedback or logout.</div>
		
		<br>
		<div>
			<p><b>Login</b></p>
			Some parts of the app, such as 'Analyze' requires login and will automatically log you in if you haven't. But you may also manually login using the Account menu.
		</div>
		
		<br>
		<div>
			<p><b>Logout</b></p>
			You don't need to logout if you're the only one has access to the device. 
		</div>
		
		<br>
		<div>
			<b>Note: </b>PI360 does not authenticate users, instead it uses social authentication to log user in. If the same PI360 has authenticated to multiple social sites -- this could happen, when a user has logged in using Facebook then analyzes someone at Twitter. PI360 then will map both Facebook and Twitter account to the same PI360 account.
		</div>
		
		<br>
		<div>
			<p><b>Feedbacks</b></p>
			For assistance, bug report, feature request or just general feedbacks, please use the Feedbacks menu.
		</div>
		
		<br>
	</ion-content>
</ion-view>
