<ion-view view-title="Analyze">
	<ion-content overflow-scroll="false" padding="true">
    <!--h5></h5-->
	<!-- <div>{{relationship}}</div> -->
		<div><p>To analyze someone that you know, there are currently 3 ways.</p>
			<ul>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>Yammer</li>
			</ul>
		</div>
		
		<br>
		<div>
			<b>Note to Facebook</b>: due to new policy in Facebook, an app can no longer access your friends' posts even if they are public, unless your friends have also install the app. If you choose to analzye Facebook, it'll return your friends who have also installed the app, if no one returns, it means none of your friends has installed the app. In this case, you can analyze yourself instead, or invite them to the app. Once your friend accept the invite and installs the app, you can analyze them. 
		</div>
		
		<br>
		<div>
			More options maybe supported in the future, including free text, Google, emails etc. If we receive enough requests for one of these options, we'll prioritize and make it available sooner. Please use <a href="/#/app/account/feedbacks">Account/Feedback</a> menu to provide feedbacks.
		</div>
		
		<br>
	</ion-content>
</ion-view>
