<ion-view view-title="Introduction">
	<ion-content overflow-scroll="false" padding="true">
    <!--h5></h5-->
	<!-- <div>{{relationship}}</div> -->
		<div>Prior to recent break-through advancement of Artificial Intelligence (AI) and Machine Learning (ML) technologies, personality analysis required the subject to perform a set of personality tests, from each score is calculated and the subject's personality is derived. With advancement in AI and ML, this is no longer required. In stead, it's now possible to perform analysis directly and automatically on the subject's daily writing.</div>
		
		<br>
		<div>Personality Insights 360 or PI360 does this by analyzing social contents with a high level of accuracy,  utilizing advanced AI and ML, as well as the popular Big 5 personality mode, Values and Needs model. In addition, PI360 provides a 360 degree of the subject's personality -- by dividing the report into 3 perspective and 4 views, and various roles.</div>
		
		<br>
	</ion-content>
</ion-view>
