<ion-view view-title="Reports">
	<ion-content overflow-scroll="false" padding="true">
    <!--h5></h5-->
	<!-- <div>{{relationship}}</div> -->
		<div>
			The "Open Reports" menu provides a list of saved reports so you can open one of them. Initially the list only contains a few public reports of celebrity. Once you start analyzing someone you know, the private report will be added to the list.
		</div>
		
		<br>
		<div>
			<p><b>Operations</b></p>
			You can perform delete or reorganize the order of these reports using the buttons on the top, or right swipe a report to Edit or Share it.
		</div>
		
		<br>
		<div>
			<p><b>Sections</b></p>
			<p>When opened, the report contains sections of Summary, Preferences, then each of the facets of the Big 5 personality model, as well as Values and Needs. Clicking each section will open up details of that section.</p>
			<p><b>Note: </b>For simplicity, Values and Needs are also called "facet" so they are listed as other facets from the Big 5 Model.</p>
		</div>
		
		<br>
		<div>
			<p><b>360 Degree</b></p>
			<p>Each section is divided by 3 perspectives, 4 views and various roles (when available). You may switch perspective using the top right corner button, change view using the tabs on the bottom, and swipe the roles cards to see each role.</p>
			<p><b>Note: </b>360 degree is not available on Summary and Preferences. In addition, for some perspectives or facets, there's special universal 'AllView' and/or one 'AllRoles'.</p>
		</div>
	</ion-content>
</ion-view>
