<!-- ion-view view-title="Reports" cache-view="false" -->
<ion-view view-title="Reports">
<!--
    <ion-header-bar class="bar-positive">
          <div class="buttons">
            <button ng-click="toggleDelete()" class="button button-clear">{{ editBtnText }}</button>
          </div>
          <h1 class="title">List Tests</h1>
          <div class="buttons">
            <button ng-click="toggleReorder()" class="button button-clear">{{ reorderBtnText }}</button>
          </div>
    </ion-header-bar>
-->

  <!-- ion-content overflow-scroll="true" padding="true" class="has-header" -->
  
  	<ion-nav-buttons side="primary" class="button button-clear button-icon icon ion-navicon">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
      </div>
   
	</ion-nav-buttons>


	<ion-nav-buttons side="right" class="button button-clear button-icon icon ion-navicon">  
      <div class="buttons">
        <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
            Reorder
        </button>
      </div>
	</ion-nav-buttons>  
  
  
    <ion-content padding="true" overflow-scroll="false">

		  <ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		  </ion-refresher>	
 
 		<br>
		<div>Slide each report to the left for more options</div>
		<div>If a new report doesn't appear pull to refresh the view</div>
		<br>
 
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
		<!--br>
		<div>Slide each report to the left for more options</div>
		<div>If a new report doesn't appear pull to refresh the view</div>
		<br-->
        <ion-item ng-repeat="item in items track by $index" 
                  item="item", idx = $index
                  ng-href="#" ng-click="openReport(item.file)" class="item-remove-animate">
			<!--
              <span><img ng-src="{{item.image}}"><b>&nbsp;{{item.name}}</b></span>
              <span><p>{{item.date}}</p></span>
			-->
			  <div>
				<img style="vertical-align:middle" ng-src="{{item.image}}">
				<span><b>&nbsp;{{item.name}}@{{item.source}}</b></span>
			  </div>
			  <div style="font-size: 11px;">{{item.date}}</div>
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(item)">
          </ion-delete-button>
          <ion-option-button class="button-assertive"
                             ng-click="edit(item, $index)">
            Edit
          </ion-option-button>
          <ion-option-button class="button-calm"
                             ng-click="share(item)">
            Share
          </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

      </ion-list>

 
  </ion-content>
</ion-view>

	